<!-- /container 
<div class="container">

  <form class="form-signin" action="/users/sign_in">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="user[mail]">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="user[password]">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div> -->

<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f| %>
  <h2 class="form-signin-heading">Please sign in</h2>

      <%= f.email_field :email, autofocus: true , placeholder:"Email address", class:'form-control'%>

      <%= f.password_field :password, autocomplete: "off", placeholder:"Password" , class:'form-control'%>


    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
      <%= f.submit "Log in" , class:"btn btn-lg btn-primary btn-block"%>

  <% end %>

</div>

  <%= render "devise/shared/links" %>
